<div class="container">
    <h2 class="text-center">Formación Continua</h2>
    <hr>
    <div class="card col-sm-8 mx-auto">
        <h3 class="card-header">Proceso de Preinscripción</h3>
        <div class="card-body text-center">
            <h3>Por favor, ingrese su número de cédula de identidad</h3>
            <form  [formGroup]="verifyForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6 mx-auto">
                    <div class="form-floating mb-3">
                        <input type="text" name="cedula" id="cedula" formControlName="cedula" class="form-control"
                            placeholder="" digitOnly inputmode="numeric" maxlength="9" autocomplete="off">
                        <label for="cedula">Cédula de identidad</label>
                    </div>
                </div>
                <button class="button" type="submit" class="btn btn-primary" [disabled]="verifyForm.invalid || processing" #submit>Comprobar</button>
            </form>
        </div>
    </div>
</div>